/* Icon */

.flm-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 1;
  color: inherit;
  vertical-align: middle;
  flex-shrink: 0;
}

.flm-icon > svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.flm-icon--small {
  width: 12px;
  height: 12px;
  font-size: 12px;
}

.flm-icon--large {
  width: 20px;
  height: 20px;
  font-size: 20px;
}
